################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/Faculty_DB/v17/.suo
.vs/Faculty_DB/FileContentIndex/392ba04e-de85-4793-9bbe-5108b0f67f07.vsidx
.vs/Faculty_DB/FileContentIndex/read.lock
.vs/Faculty_DB/v17/.wsuo
