USE [master]
GO
/****** Object:  Database [Faculty_UA_22]    Script Date: 14.09.2022 14:42:20 ******/
CREATE DATABASE [Faculty_UA_22]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Faculty_UA_22', FILENAME = N'D:\TEMP\DB\Faculty_UA_22.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Faculty_UA_22_log', FILENAME = N'D:\TEMP\DB\Faculty_UA_22_log.ldf' , SIZE = 1856KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
ALTER DATABASE [Faculty_UA_22] COLLATE Ukrainian_CI_AS
GO

USE [Faculty_UA_22]
GO
/****** Object:  UserDefinedFunction [dbo].[Table_Function_N0100]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Table_Function_N0100]
(
	@param1 int,
	@param2 varchar(30)
)
RETURNS @returntable TABLE
(
	SomeNumber int,
	SomeName varchar(max)
)
AS
BEGIN
	-- Объявляем табличную переменную
	DECLARE @varTable TABLE
	(
	c1 int,
	c2 varchar(max)
	)

	-- получаем данные
	INSERT @varTable
	SELECT ABSENCES, NAME
	FROM STUDENTS

	-- выполняем бессмыссленные преобразования

	UPDATE @varTable
	SET c2 = c2 + '- позор!'
	WHERE c1 >= @param1


	UPDATE @varTable
	SET c2 = UPPER(c2)
	WHERE c2 LIKE @param2 + '%'

	
	-- отправляем эту белиберду в выходной набор данных
	INSERT @returntable
	SELECT c1, c2 
	FROM @varTable

	-- и возвращаем результат
	RETURN
END
GO
/****** Object:  Table [dbo].[STUDENTS]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[STUDENTS](
	[STUDENT_ID] [int] IDENTITY(1,1) NOT NULL,
	[SURNAME] [varchar](50) NULL,
	[NAME] [varchar](50) NULL,
	[PATRONYMIC] [varchar](50) NULL,
	[GROUP_ID] [int] NULL,
	[ABSENCES] [int] NULL,
	[UNREASONABLE_ABSENCES] [int] NULL,
	[UNREADY_LABS] [int] NULL,
 CONSTRAINT [PK_STUDENTS] PRIMARY KEY CLUSTERED 
(
	[STUDENT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GROUPS]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GROUPS](
	[GROUP_ID] [int] IDENTITY(1,1) NOT NULL,
	[GROUP_NUMBER] [varchar](6) NOT NULL,
	[CHAIR_ID] [int] NULL,
	[CURATOR_ID] [int] NULL,
	[SENIOR_STUDENT_ID] [int] NULL,
	[STUDY_HOURS] [int] NULL,
	[LAB_STUDIES] [int] NULL,
	[PRACT_STUDIES] [int] NULL,
 CONSTRAINT [PK_GROUPS] PRIMARY KEY CLUSTERED 
(
	[GROUP_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N01]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N01] 
(	
	-- Add the parameters for the function here
	@param1 varchar(6),
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Group_Number = @param1 AND
		S.Absences <= @param2
)

GO
/****** Object:  Table [dbo].[CHAIRS]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHAIRS](
	[CHAIR_ID] [int] IDENTITY(1,1) NOT NULL,
	[CHAIR_NUMBER] [varchar](50) NULL,
	[CHAIR_HEAD_ID] [int] NULL,
	[DEPUTY_DEAN_ID] [int] NULL,
 CONSTRAINT [PK_CHAIRS] PRIMARY KEY CLUSTERED 
(
	[CHAIR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N02]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N02] 
(	
	-- Add the parameters for the function here
	@param1 varchar(6)
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	JOIN Chairs C ON C.Chair_Id = G.Chair_Id
	WHERE C.Chair_Number = @param1
)

GO
/****** Object:  Table [dbo].[TUTORS]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TUTORS](
	[TUTOR_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME_FIO] [varchar](50) NULL,
	[FACULTY] [int] NULL,
	[CHAIR_ID] [int] NULL,
	[CHAIR_EXTERNAL] [varchar](3) NULL,
	[POSITION] [varchar](100) NULL,
 CONSTRAINT [PK_TUTORS] PRIMARY KEY CLUSTERED 
(
	[TUTOR_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Test_Table]    Script Date: 24.11.2022 15:42:47 ******/
SET ANSI_NULLS ON
GO

SET QUOTED_IDENTIFIER ON
GO

CREATE TABLE [dbo].[Test_Table](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Int_Column] [int] NULL,
	[Varchar_Column] [nvarchar](max) NULL,
 CONSTRAINT [PK_Test_Table] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N03]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N03] 
(	
	-- Add the parameters for the function here
	@param1 varchar(30)
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, T.Name_FIO AS Curator
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	JOIN Tutors T ON T.Tutor_Id=G.Curator_Id 
	WHERE T.Name_FIO = @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N04]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N04] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Study_Hours
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Study_Hours = @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N05]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N05] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Study_Hours
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Study_Hours < @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N06]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N06] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Study_Hours
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Study_Hours > @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N07]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N07] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Lab_Studies > @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N08]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N08] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Lab_Studies < @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N09]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N09] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Lab_Studies = @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N10]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N10] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Pract_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies = @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N11]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N11] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Pract_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies < @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N12]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N12] 
(	
	-- Add the parameters for the function here
	@param1 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Pract_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies > @param1
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N13]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N13]
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, 
		G.Group_Number, G.Pract_Studies, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies > @param1 AND
		G.Lab_Studies >  @param2
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N14]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N14]
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, 
		G.Group_Number, G.Pract_Studies, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies < @param1 AND
		G.Lab_Studies <  @param2
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N15]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N15]
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, 
		G.Group_Number, G.Pract_Studies, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies = @param1 AND
		G.Lab_Studies =  @param2
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N16]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N16]
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, 
		G.Group_Number, G.Pract_Studies, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies < @param1 AND
		G.Lab_Studies >  @param2
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N17]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N17]
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, 
		G.Group_Number, G.Pract_Studies, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies > @param1 AND
		G.Lab_Studies <  @param2
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N18]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N18] 
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, G.Group_Number, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Lab_Studies BETWEEN @param1 AND @param2
)
GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N19]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N19]
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, 
		G.Group_Number, G.Pract_Studies, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies > @param1 OR
		G.Lab_Studies <  @param2
)

GO
/****** Object:  UserDefinedFunction [dbo].[Inline_Function_N20]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Inline_Function_N20]
(	
	-- Add the parameters for the function here
	@param1 int,
	@param2 int
)
RETURNS TABLE 
AS
RETURN 
(
	-- Add the SELECT statement with parameter references here
	SELECT S.Surname, S.Name, S.Patronymic, 
		G.Group_Number, G.Pract_Studies, G.Lab_Studies
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Pract_Studies = @param1 OR
		G.Lab_Studies =  @param2
)

GO
/****** Object:  UserDefinedFunction [dbo].[Scalar_Function_N0100]    Script Date: 28.11.2022 21:44:59 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE FUNCTION [dbo].[Scalar_Function_N0100] 
(	
	-- Add the parameters for the function here
	@gr_num varchar(6),
	@absc int
)
RETURNS INT 
AS
BEGIN
	DECLARE @res INT;

	SELECT @res=SUM(UNREADY_LABS)
	FROM Students S
	JOIN Groups G ON G.Group_Id=S.Group_Id
	WHERE G.Group_Number = @gr_num AND
		S.Absences > @absc;

	RETURN @res;
END
GO
/****** Object:  Table [dbo].[CURRICULUM]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CURRICULUM](
	[CURRICULUM_ID] [int] IDENTITY(1,1) NOT NULL,
	[SUBJECT_ID] [int] NULL,
	[TUTOR_ID] [int] NULL,
	[GROUP_ID] [int] NULL,
 CONSTRAINT [PK_CURRICULUM] PRIMARY KEY CLUSTERED 
(
	[CURRICULUM_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[Schedule_Id] [int] IDENTITY(1,1) NOT NULL,
	[CURRICULUM_ID] [int] NULL,
	[LESSON_DATE] [date] NULL,
	[PAIR] [tinyint] NULL,
	[LESSON_START] [time](7) NULL,
	[LESSON_FINISH] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[Schedule_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SUBJECTS]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SUBJECTS](
	[SUBJECT_ID] [int] IDENTITY(1,1) NOT NULL,
	[NAME] [varchar](255) NULL,
	[CHAIR_ID] [int] NULL,
	[CHAIR_EXTERNAL] [varchar](3) NULL,
 CONSTRAINT [PK_SUBJECTS] PRIMARY KEY CLUSTERED 
(
	[SUBJECT_ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[CHAIRS] ON 

INSERT [dbo].[CHAIRS] ([CHAIR_ID], [CHAIR_NUMBER], [CHAIR_HEAD_ID], [DEPUTY_DEAN_ID]) VALUES (1, N'301', 1, 133)
INSERT [dbo].[CHAIRS] ([CHAIR_ID], [CHAIR_NUMBER], [CHAIR_HEAD_ID], [DEPUTY_DEAN_ID]) VALUES (2, N'302', 30, 29)
INSERT [dbo].[CHAIRS] ([CHAIR_ID], [CHAIR_NUMBER], [CHAIR_HEAD_ID], [DEPUTY_DEAN_ID]) VALUES (3, N'303', 56, 18)
SET IDENTITY_INSERT [dbo].[CHAIRS] OFF
GO
SET IDENTITY_INSERT [dbo].[CURRICULUM] ON 

INSERT [dbo].[CURRICULUM] ([CURRICULUM_ID], [SUBJECT_ID], [TUTOR_ID], [GROUP_ID]) VALUES (1, 20, 3, 125)
INSERT [dbo].[CURRICULUM] ([CURRICULUM_ID], [SUBJECT_ID], [TUTOR_ID], [GROUP_ID]) VALUES (2, 23, 11, 125)
INSERT [dbo].[CURRICULUM] ([CURRICULUM_ID], [SUBJECT_ID], [TUTOR_ID], [GROUP_ID]) VALUES (3, 24, 4, 125)
GO
SET IDENTITY_INSERT [dbo].[CURRICULUM] OFF
GO
SET IDENTITY_INSERT [dbo].[GROUPS] ON 

INSERT [dbo].[GROUPS] ([GROUP_ID], [GROUP_NUMBER], [CHAIR_ID], [CURATOR_ID], [SENIOR_STUDENT_ID], [STUDY_HOURS], [LAB_STUDIES], [PRACT_STUDIES]) VALUES (93, N'350', 1, 2, 1596, 166, 17, 23)
INSERT [dbo].[GROUPS] ([GROUP_ID], [GROUP_NUMBER], [CHAIR_ID], [CURATOR_ID], [SENIOR_STUDENT_ID], [STUDY_HOURS], [LAB_STUDIES], [PRACT_STUDIES]) VALUES (94, N'351', 1, 115, 1606, 192, 16, 23)
INSERT [dbo].[GROUPS] ([GROUP_ID], [GROUP_NUMBER], [CHAIR_ID], [CURATOR_ID], [SENIOR_STUDENT_ID], [STUDY_HOURS], [LAB_STUDIES], [PRACT_STUDIES]) VALUES (95, N'352', 1, 8, 3299, 160, 10, 74)
SET IDENTITY_INSERT [dbo].[GROUPS] OFF
GO
SET IDENTITY_INSERT [dbo].[Schedule] ON 

INSERT [dbo].[Schedule] ([Schedule_Id], [CURRICULUM_ID], [LESSON_DATE], [PAIR], [LESSON_START], [LESSON_FINISH]) VALUES (211, 136, CAST(N'2022-02-01' AS Date), 1, CAST(N'08:00:00' AS Time), CAST(N'09:35:00' AS Time))
INSERT [dbo].[Schedule] ([Schedule_Id], [CURRICULUM_ID], [LESSON_DATE], [PAIR], [LESSON_START], [LESSON_FINISH]) VALUES (212, 115, CAST(N'2022-02-01' AS Date), 1, CAST(N'08:00:00' AS Time), CAST(N'09:35:00' AS Time))
INSERT [dbo].[Schedule] ([Schedule_Id], [CURRICULUM_ID], [LESSON_DATE], [PAIR], [LESSON_START], [LESSON_FINISH]) VALUES (213, 14, CAST(N'2022-02-01' AS Date), 2, CAST(N'09:50:00' AS Time), CAST(N'11:25:00' AS Time))
GO
SET IDENTITY_INSERT [dbo].[Schedule] OFF
GO
SET IDENTITY_INSERT [dbo].[STUDENTS] ON 

INSERT [dbo].[STUDENTS] ([STUDENT_ID], [SURNAME], [NAME], [PATRONYMIC], [GROUP_ID], [ABSENCES], [UNREASONABLE_ABSENCES], [UNREADY_LABS]) VALUES (1458, N'Михайличенко', N'Денис', N'Олегович', 135, 106, 106, 27)
INSERT [dbo].[STUDENTS] ([STUDENT_ID], [SURNAME], [NAME], [PATRONYMIC], [GROUP_ID], [ABSENCES], [UNREASONABLE_ABSENCES], [UNREADY_LABS]) VALUES (1587, N'Антоненко', N'Ганна', N'Романівна', 183, 82, 82, 4)
INSERT [dbo].[STUDENTS] ([STUDENT_ID], [SURNAME], [NAME], [PATRONYMIC], [GROUP_ID], [ABSENCES], [UNREASONABLE_ABSENCES], [UNREADY_LABS]) VALUES (1589, N'Вербицький', N'Дмитро', N'Сергійович', 93, 112, 112, 6)
GO
SET IDENTITY_INSERT [dbo].[STUDENTS] OFF
GO
SET IDENTITY_INSERT [dbo].[SUBJECTS] ON 

INSERT [dbo].[SUBJECTS] ([SUBJECT_ID], [NAME], [CHAIR_ID], [CHAIR_EXTERNAL]) VALUES (1, N'Політологія і соціологія', NULL, N'702')
INSERT [dbo].[SUBJECTS] ([SUBJECT_ID], [NAME], [CHAIR_ID], [CHAIR_EXTERNAL]) VALUES (2, N'Електорнна і мікропроцесорна техніка', 3, NULL)
INSERT [dbo].[SUBJECTS] ([SUBJECT_ID], [NAME], [CHAIR_ID], [CHAIR_EXTERNAL]) VALUES (3, N'Основи конструювання засобів вимірювальної техніки', 3, NULL)
GO
SET IDENTITY_INSERT [dbo].[SUBJECTS] OFF
GO
SET IDENTITY_INSERT [dbo].[TUTORS] ON 

INSERT [dbo].[TUTORS] ([TUTOR_ID], [NAME_FIO], [FACULTY], [CHAIR_ID], [CHAIR_EXTERNAL], [POSITION]) VALUES (1, N'Кулік Ю.М.', 3, 1, NULL, N'Декан, зав. кафедри, професор, д.т.н.')
INSERT [dbo].[TUTORS] ([TUTOR_ID], [NAME_FIO], [FACULTY], [CHAIR_ID], [CHAIR_EXTERNAL], [POSITION]) VALUES (2, N'Суббота Ю.О.', 3, 1, NULL, NULL)
INSERT [dbo].[TUTORS] ([TUTOR_ID], [NAME_FIO], [FACULTY], [CHAIR_ID], [CHAIR_EXTERNAL], [POSITION]) VALUES (3, N'Джулгаков Е.П.', 3, 1, NULL, NULL)
GO
SET IDENTITY_INSERT [dbo].[TUTORS] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [U_GROUP_NUMBER]    Script Date: 14.09.2022 14:42:20 ******/
ALTER TABLE [dbo].[GROUPS] ADD  CONSTRAINT [U_GROUP_NUMBER] UNIQUE NONCLUSTERED 
(
	[GROUP_NUMBER] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CHAIRS]  WITH CHECK ADD  CONSTRAINT [FK_CHAIR_HEAD] FOREIGN KEY([CHAIR_HEAD_ID])
REFERENCES [dbo].[TUTORS] ([TUTOR_ID])
GO
ALTER TABLE [dbo].[CHAIRS] CHECK CONSTRAINT [FK_CHAIR_HEAD]
GO
ALTER TABLE [dbo].[CHAIRS]  WITH CHECK ADD  CONSTRAINT [FK_CHAIR_VICE_DEAN] FOREIGN KEY([DEPUTY_DEAN_ID])
REFERENCES [dbo].[TUTORS] ([TUTOR_ID])
GO
ALTER TABLE [dbo].[CHAIRS] CHECK CONSTRAINT [FK_CHAIR_VICE_DEAN]
GO
ALTER TABLE [dbo].[CURRICULUM]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULUM_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUPS] ([GROUP_ID])
GO
ALTER TABLE [dbo].[CURRICULUM] CHECK CONSTRAINT [FK_CURRICULUM_GROUP]
GO
ALTER TABLE [dbo].[CURRICULUM]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULUM_SUBJECT] FOREIGN KEY([SUBJECT_ID])
REFERENCES [dbo].[SUBJECTS] ([SUBJECT_ID])
GO
ALTER TABLE [dbo].[CURRICULUM] CHECK CONSTRAINT [FK_CURRICULUM_SUBJECT]
GO
ALTER TABLE [dbo].[CURRICULUM]  WITH CHECK ADD  CONSTRAINT [FK_CURRICULUM_TUTOR] FOREIGN KEY([TUTOR_ID])
REFERENCES [dbo].[TUTORS] ([TUTOR_ID])
GO
ALTER TABLE [dbo].[CURRICULUM] CHECK CONSTRAINT [FK_CURRICULUM_TUTOR]
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_GROUPS_CHAIRS] FOREIGN KEY([CHAIR_ID])
REFERENCES [dbo].[CHAIRS] ([CHAIR_ID])
GO
ALTER TABLE [dbo].[GROUPS] CHECK CONSTRAINT [FK_GROUPS_CHAIRS]
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_GROUPS_CURATOR] FOREIGN KEY([CURATOR_ID])
REFERENCES [dbo].[TUTORS] ([TUTOR_ID])
GO
ALTER TABLE [dbo].[GROUPS] CHECK CONSTRAINT [FK_GROUPS_CURATOR]
GO
ALTER TABLE [dbo].[GROUPS]  WITH CHECK ADD  CONSTRAINT [FK_GROUPS_SENIOR_STUDENT] FOREIGN KEY([SENIOR_STUDENT_ID])
REFERENCES [dbo].[STUDENTS] ([STUDENT_ID])
GO
ALTER TABLE [dbo].[GROUPS] CHECK CONSTRAINT [FK_GROUPS_SENIOR_STUDENT]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK_Schedule_CURRICULUM] FOREIGN KEY([CURRICULUM_ID])
REFERENCES [dbo].[CURRICULUM] ([CURRICULUM_ID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK_Schedule_CURRICULUM]
GO
ALTER TABLE [dbo].[STUDENTS]  WITH CHECK ADD  CONSTRAINT [FK_STUDENT_GROUP] FOREIGN KEY([GROUP_ID])
REFERENCES [dbo].[GROUPS] ([GROUP_ID])
GO
ALTER TABLE [dbo].[STUDENTS] CHECK CONSTRAINT [FK_STUDENT_GROUP]
GO
ALTER TABLE [dbo].[TUTORS]  WITH CHECK ADD  CONSTRAINT [FK_TUTORS_CHAIR] FOREIGN KEY([CHAIR_ID])
REFERENCES [dbo].[CHAIRS] ([CHAIR_ID])
GO
ALTER TABLE [dbo].[TUTORS] CHECK CONSTRAINT [FK_TUTORS_CHAIR]
GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N01]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[StoredProc_N01]

	-- Add the parameters for the stored procedure here
	@Param1 int, 
	@Param2 varchar(30)
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.ABSENCES, C.CHAIR_NUMBER
    FROM STUDENTS S
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN CHAIRS C ON G.CHAIR_ID = C.CHAIR_ID
    WHERE UNREADY_LABS <= @Param1 AND
		S.NAME = @Param2;
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N0100]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[StoredProc_N0100]

	-- Add the parameters for the stored procedure here'
	@param1 int,
	@param2 int, 
	@param3 varchar(30),
	@out int OUTPUT
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;
  
    IF @param1 = 1 
    BEGIN
		INSERT INTO Test_Table 
		SELECT S.ABSENCES, C.CHAIR_NUMBER
		FROM STUDENTS S
		JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
		JOIN CHAIRS C ON G.CHAIR_ID = C.CHAIR_ID
		WHERE UNREADY_LABS <= @Param2 AND
			S.NAME = @Param3;
		
		SELECT @out = COUNT(*)
		FROM Test_Table;
		
		RETURN 1
	END;
  
	IF @param1 < 0 
    	RAISERROR('Случилось!', 18, 1);
END
GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N02]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N02]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.ABSENCES, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.LAB_STUDIES <= @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N03]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N03]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.ABSENCES, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.LAB_STUDIES > @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N04]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N04]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREASONABLE_ABSENCES, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.LAB_STUDIES > @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N05]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N05]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREASONABLE_ABSENCES, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.LAB_STUDIES < @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N06]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N06]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREASONABLE_ABSENCES, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.PRACT_STUDIES < @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N07]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N07]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREASONABLE_ABSENCES, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.PRACT_STUDIES < @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N08]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N08]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.PRACT_STUDIES < @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N09]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N09]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.PRACT_STUDIES > @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N10]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N10]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, G.GROUP_NUMBER
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
        WHERE G.LAB_STUDIES > @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N11]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N11]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE G.LAB_STUDIES > @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N12]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N12]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE G.LAB_STUDIES < @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N13]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N13]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE G.STUDY_HOURS < @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N14]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N14]

	-- Add the parameters for the stored procedure here
	@Param1 int 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE G.STUDY_HOURS > @Param1
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N15]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N15]

	-- Add the parameters for the stored procedure here
	@Param1 varchar(30) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE S.NAME = @Param1;
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N16]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N16]

	-- Add the parameters for the stored procedure here
	@Param1 varchar(30) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE S.PATRONYMIC = @Param1;
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N17]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N17]

	-- Add the parameters for the stored procedure here
	@Param1 varchar(30) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, S.SURNAME
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE S.NAME = @Param1;
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N18]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N18]

	-- Add the parameters for the stored procedure here
	@Param1 varchar(30) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, S.SURNAME
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE G.GROUP_NUMBER = @Param1;
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N19]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N19]

	-- Add the parameters for the stored procedure here
	@Param1 varchar(30) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.UNREADY_LABS, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE G.GROUP_NUMBER = @Param1;
	
END

GO
/****** Object:  StoredProcedure [dbo].[StoredProc_N20]    Script Date: 14.09.2022 14:42:20 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[StoredProc_N20]

	-- Add the parameters for the stored procedure here
	@Param1 varchar(30) 
AS
BEGIN
	-- SET NOCOUNT ON added to prevent extra result sets from
	-- interfering with SELECT statements.
	SET NOCOUNT ON;
	
	DELETE FROM Test_Table;

    INSERT INTO Test_Table 
    SELECT S.ABSENCES, T.NAME_FIO
    FROM STUDENTS S 
    JOIN GROUPS G ON S.GROUP_ID = G.GROUP_ID
    JOIN TUTORS T ON G.CURATOR_ID = T.TUTOR_ID
        WHERE G.GROUP_NUMBER = @Param1;
	
END

GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHAIRS', @level2type=N'COLUMN',@level2name=N'CHAIR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер кафедри' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHAIRS', @level2type=N'COLUMN',@level2name=N'CHAIR_NUMBER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на завідувача' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHAIRS', @level2type=N'COLUMN',@level2name=N'CHAIR_HEAD_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на замдекана' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHAIRS', @level2type=N'COLUMN',@level2name=N'DEPUTY_DEAN_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Кафедры' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CHAIRS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRICULUM', @level2type=N'COLUMN',@level2name=N'CURRICULUM_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на предмет' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRICULUM', @level2type=N'COLUMN',@level2name=N'SUBJECT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на препода' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRICULUM', @level2type=N'COLUMN',@level2name=N'TUTOR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на группу' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRICULUM', @level2type=N'COLUMN',@level2name=N'GROUP_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Учебный план' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'CURRICULUM'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'GROUP_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер группы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'GROUP_NUMBER'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на кафедру' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'CHAIR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на куратора' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'CURATOR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на старосту' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'SENIOR_STUDENT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Обсяг занять в годинах' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'STUDY_HOURS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Кількість лаб' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'LAB_STUDIES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Кількість практик' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS', @level2type=N'COLUMN',@level2name=N'PRACT_STUDIES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Группы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'GROUPS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Schedule', @level2type=N'COLUMN',@level2name=N'Schedule_Id'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на пункт навч. плану' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Schedule', @level2type=N'COLUMN',@level2name=N'CURRICULUM_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Дата заняття' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Schedule', @level2type=N'COLUMN',@level2name=N'LESSON_DATE'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Пара за розкладом' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Schedule', @level2type=N'COLUMN',@level2name=N'PAIR'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Час початку' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Schedule', @level2type=N'COLUMN',@level2name=N'LESSON_START'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Час закінчення' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Schedule', @level2type=N'COLUMN',@level2name=N'LESSON_FINISH'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'STUDENT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Прізвище' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'SURNAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Им''я' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'По батькові' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'PATRONYMIC'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на групу' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'GROUP_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Пропуски занять в годинах' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'ABSENCES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Пропуски без поваж. причин в годинах' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'UNREASONABLE_ABSENCES'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Нездані лабораторні' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS', @level2type=N'COLUMN',@level2name=N'UNREADY_LABS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Студенты' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'STUDENTS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUBJECTS', @level2type=N'COLUMN',@level2name=N'SUBJECT_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Назва дисципліни' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUBJECTS', @level2type=N'COLUMN',@level2name=N'NAME'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на кафедру (для ф-та № 3)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUBJECTS', @level2type=N'COLUMN',@level2name=N'CHAIR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер зовннішньої кафедри' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUBJECTS', @level2type=N'COLUMN',@level2name=N'CHAIR_EXTERNAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Предметы' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SUBJECTS'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'PK' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUTORS', @level2type=N'COLUMN',@level2name=N'TUTOR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Прізвище І.П.' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUTORS', @level2type=N'COLUMN',@level2name=N'NAME_FIO'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Факультет' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUTORS', @level2type=N'COLUMN',@level2name=N'FACULTY'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'FK - Посилання на кафедру (для ф-та № 3)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUTORS', @level2type=N'COLUMN',@level2name=N'CHAIR_ID'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Номер кафедри (для зовнішніх)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUTORS', @level2type=N'COLUMN',@level2name=N'CHAIR_EXTERNAL'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Посада (необов''язкове)' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUTORS', @level2type=N'COLUMN',@level2name=N'POSITION'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'Преподаватели' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'TUTORS'
GO
USE [master]
GO
